services:
  redpanda:
    image: redpandadata/redpanda:latest
    container_name: trip_redpanda
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp
      - "1"
      - --memory
      - "1G"
      - --reserve-memory
      - "0M"
      - --node-id
      - "0"
      - --check=false
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr
      - PLAINTEXT://localhost:9092
    ports:
      - "9092:9092"   # Kafka brokers (use this from your Mac)
      - "9644:9644"   # Admin API (optional, for debugging)

  localstack:
    image: localstack/localstack:stable
    container_name: trip_localstack
    environment:
      - SERVICES=sqs
      - EDGE_PORT=4566
      - AWS_DEFAULT_REGION=us-east-1
    ports:
      - "4566:4566"
    volumes:
      - "./.localstack:/var/lib/localstack"

  postgres:
    image: postgres:16
    container_name: trip_postgres
    environment:
      - POSTGRES_USER=tripstreamer
      - POSTGRES_PASSWORD=tripstreamer
      - POSTGRES_DB=tripstreamer
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: trip_redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
